<ion-view view-title="Account">
    <ion-content>
        <!--      <my-histogram dataset="[5,10,15,20,25, 20, 30, 5, 15, 19, 20, 10, 2, 3, 30]"></my-histogram>
        <my-histogram dataset="[5,10,15,20,25, 20, 30, 5]"></my-histogram>
        <my-histogram dataset="[5,10,15,20,25, 20, 30, 5, 15, 19, 20, 10, 2, 3, 30, 1,2,3,4,5,6,7,8,9,10]"></my-histogram> -->
        <div class="row">
            <div class="col col-50">
                <div class="card">
                    <div class="item item-divider">
                        Cool Data
                    </div>
                    <div class="item item-text-wrap">
                        <my-histogram dataset="[5,10,15,20,25, 20, 30, 5, 16, 13, 10, 2, 3, 23,15, 10, 7]"></my-histogram>
                    </div>
                </div>
            </div>
            <div class="col col-50">
                <div class="card">
                <div class="item item-divider">
                        More Cool Data
                    </div>
                    <div class="item">
                        <my-histogram dataset="[5,10,15,20,25, 20, 30, 5, 15, 19, 20, 10, 2, 3, 30, 22, 11]"></my-histogram>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
