<ion-view view-title="Scaled">
  <ion-content>
    <scalable-box></scalable-box>
    <div class="list">
      <div class="item range range-positive">
        <i class="icon ion-ios7-sunny-outline"></i>
        <input type="range" name="volume" min="0" max="100" ng-model="svgSize">
        <i class="icon ion-ios7-sunny"></i>
      </div>
      <div class="item range range-positive">
        <i class="icon ion-ios7-sunny-outline"></i>
        <input type="range" name="volume" min="0" max="100" ng-model="rectSize">
        <i class="icon ion-ios7-sunny"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
